.commentInput {
    display: flex;
    justify-content: space-between;
}

.commentInput_textarea {
    border: none;
    width: 100%;
    resize: none;
    margin: 8px 0px;
    font-size: 14px;
    font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.commentInput_textarea:focus {
    outline: none;
}

.commentInput_btn {
    background-color: white;
    border: none;
}

.commentInput_btn:focus {
    outline: none;
}